body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	width: 100%;
	background-color: rgb(206, 193, 193);
	color: white;
}


*,
*:before,
*:after {
	box-sizing: border-box;
}

.social__net {
	.container {
		margin: 0 200px;
		background: rgb(207, 194, 194);
		.social__inner {
			position: relative;
			color: white;
			background: rgb(168, 155, 155);
			.header {
				position: fixed;
				z-index: 1000;
				background: rgb(168, 155, 155);
				border-right: 2px solid white;
				.nav {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					width: 200px;
					height: 100vh;
					padding: 10px 0;
					.nav__menu {
						display: flex;
						flex-direction: column;
						.nav__link {
							height: 60px;
							font-size: 20px;
							color: white;
							padding: 10px 15px;
							text-align: center;
							text-decoration: none;
							transition: 0.3s linear;
							outline: none;
							&:hover {
								background-color: rgb(206, 193, 193);
								
							}
						}
					}

					.nav__enter {
						display: flex;
						flex-direction: column;
						.nav__link {
							height: 60px;
							font-size: 20px;
							color: white;
							padding: 10px 15px;
							text-align: center;
							text-decoration: none;
							transition: 0.3s linear;
							&:hover {
								background-color: rgb(206, 193, 193);
								
							}
						}
					}
				}
			}
			.profile__info {
				padding-left: 200px;
				height: auto;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				color: white;
				
				img {
					padding-top: 10px;
					width: 130px;
					height: 150px;
					object-fit: cover;
					margin-left: 20px;
				}

				.profile__text {
					font-size: 20px;
					margin: 0 20px;
					height: 150px;
				}

				.profile__input {
					width: 100%;
					border-top: 2px solid white;
					margin-top: 20px;
					padding: 20px 20px;
					.profile__posts {
						color: white;
					}

					.profile__likes {
						color: red;
					}
				}
				
				
			}
			.profile__messages {
				padding-left: 200px;
				height: 625px;
				color: white;
				h3 {
					margin: 0;
					text-align: center;
					padding: 10px;
					border-bottom: 2px solid white;
				}

				.profile__dialogs {
					width: 100%;
					height: 520px;
					margin-top: 30px;
					display: flex;
					flex-direction: column;
					align-items: center;
					overflow: auto;
					
					.dialog {
						width: 95%;
						height: 100px;
						text-align: center;
						margin: 0 10px;
						border-bottom: 2px solid rgb(129, 122, 122);
						transition: background-color 0.3s linear;
						&:hover {
							cursor: pointer;
							background-color: rgb(206, 193, 193);
						}
						.user {
							color:rgb(43, 35, 35);
							font-size: 20px;
							font-weight: 700;
						}
						
					}

					.dialog:first-child {
						border-top: 2px solid rgb(129, 122, 122);
					}
				}
				
			}

			.error__page {
				font-size: 20px;
				padding-left: 210px;
				text-align: center;
			}
		}
	}
}




