body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	width: 100%;
	background-color: rgb(206, 193, 193);
	color: white;
}


*,
*:before,
*:after {
	box-sizing: border-box;
}

.social__net {
	.container {
		margin: 0 200px;
		background: rgb(207, 194, 194);
		.social__inner {
			position: relative;
			color: white;
			background: rgb(168, 155, 155);
			.header {
				position: fixed;
				z-index: 1000;
				background: rgb(168, 155, 155);
				border-right: 2px solid white;
				.nav {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					width: 200px;
					height: 100vh;
					padding: 10px 0;
					.nav__menu {
						display: flex;
						flex-direction: column;
						.nav__link {
							font-size: 20px;
							color: white;
							padding: 10px 15px;
							text-align: center;
							text-decoration: none;
						}
					}

					.nav__enter {
						display: flex;
						flex-direction: column;
						.nav__link {
							font-size: 20px;
							color: white;
							padding: 10px 15px;
							text-align: center;
							text-decoration: none;
						}
					}
				}
			}
			.profile__info {
				padding-left: 210px;
				height: auto;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				color: white;
				img {
					padding-top: 10px;
					width: 130px;
					height: 150px;
					object-fit: cover;
					margin-left: 10px;
				}

				.profile__text {
					font-size: 20px;
					margin: 0 10px;
					height: 150px;
				}

				.profile__input {
					margin-top: 20px;
					.profile__posts {
						color: white;
					}

					.profile__likes {
						color: red;
					}
				}
				
				
			}
		}
	}
}





